[submodule "deps/libpbrpc"]
	path = deps/libpbrpc
	url = https://github.com/sajanshakya129/libpbrpc.git
[submodule "deps/mongoose"]
	path = deps/mongoose
	url = https://github.com/sajanshakya129/mongoose.git
